.product-detail-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .product-detail-image img {
    max-width: 500%; 
    height: 50vh; 
  }

  .product-detail-image img {
    width: 365%;
    height: 50vh;
  }
  
  