
.section-signup{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom, #f1f4f9, #81a3bc);
    background-image: url("https://images.herzindagi.info/image/2022/Apr/burger-tasty.jpg");
   background-repeat: no-repeat; background-size: cover; height: 100vh;  
   }

.section-signup .color{
    position: absolute;
    filter: blur(150px);
}
.section-signup .color:nth-child(1){
    top: -350px;
    width: 600px;
    height: 600px;
    background: #ff6b35;
}

.section-signup .color:nth-child(2){
    bottom: -150px;
    left: 100px;
    width: 500px;
    height: 500px;
    background: #a4a255;
}
.section-signup .color:nth-child(3){
    bottom: 50px;
    left: 100px;
    width: 300px;
    height: 300px;
    background: #0292b3;
}
.box-signup{
    position: relative;
}
.box-signup .square{
    position: absolute;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    animation: animate 10s linear infinite;
    animation-delay: calc(-1s * var(--i));
}
.box-signup .square:nth-child(1){
    top: -50px;
    right: -60px;
    width: 100px;
    height: 100px;
}
.box-signup .square:nth-child(2){
    top: 150px;
    left: 100px;
    width: 120px;
    height: 120px;
    z-index: 2;
}
.box-signup .square:nth-child(3){
bottom: 50px;
right: -60px;
    width: 80px;
    height: 80px;
    z-index: 2;
}
.box-signup .square:nth-child(4){
    bottom: 0px;
    left: -390px;
    width: 50px;
    height: 50px;
}
.box-signup .square:nth-child(5){
   top: -20px;
   left: 0px;
    width: 60px;
    height: 60px;
}
.container-signup{
    position: relative;
    width: 400px;
    min-height: 400px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    margin-left: -80%;
}

.form-signup{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 40px;
}
.form-signup h2{
    position: relative;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 40px;
}

.form-signup h2::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 80px;
    height: 4px;
    background: #fff;
}
.form-signup .inputBox{
    width: 100%;
    margin-top: 20px;
}
.form-signup .inputBox input{   
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 35px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 16px;
    letter-spacing: 1px;
    color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}
.form-signup .inputBox input::placeholder{
    color: #fff;
}
.form-signup .inputBox input[type="submit"]{
    background: #fff;
    color: #666;
    max-width: 100px;
    cursor: pointer;
    margin-bottom: 20px;
    font-weight: 600;
}
.forget-signin{
    margin-top: 5px;
    color: #fff;
}
.forget a {
    color: #fff;
    font-weight: 500;
}
.forget-signup{
   margin-top: 5px;
   color: #fff;
}

.slide-in {
   animation: slideInFromTop 0.5s ease forwards;
   opacity: 0;
   transform: translateY(-100%);
 }
 
 @keyframes slideInFromTop {
   to {
     opacity: 1;
     transform: translateY(0);
   }
 }



